* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 144rem;
  max-height: 70rem;
  margin: 0 auto;
  background-image: url('/images/bg-pattern-top-desktop.svg'),
    url('/images/bg-pattern-bottom-desktop.svg');
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  font-family: 'League Spartan', sans-serif;
}

.social-section {
  margin: 0 auto;
  width: 95rem;
}

.top-section {
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding-top: 10rem;
}

.title {
  width: 45rem;
  margin-bottom: 5rem;

  color: hsl(300, 43%, 22%);
}

.heading {
  font-size: 4.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
  line-height: normal;

  width: 80%;
}

.description {
  font-size: 1.8rem;
  line-height: 1.4;
}

.ratings p:nth-child(2) {
  margin-left: 5rem;
}

.ratings p:nth-child(3) {
  margin-left: 10rem;
}

.rating {
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  color: hsl(300, 43%, 22%);
  font-weight: bold;
  padding: 2rem;
  background-color: hsl(300, 24%, 96%);
  border-radius: 1rem;
  margin-bottom: 1.5rem;
  width: 40rem;
}

.star-icon {
  margin-right: 1rem;
}

.star-icon:last-child {
  margin-right: 4rem;
}

.testimonial-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30rem;
  height: 20rem;
  font-size: 1.5rem;
  background-color: hsl(300, 43%, 22%);
  padding: 2rem;
  border-radius: 1rem;

  color: hsl(0, 0%, 100%);
  line-height: 1.4;
}

.testimonial-card:nth-child(2) {
  margin-top: 2rem;
}

.testimonial-card:nth-child(3) {
  margin-top: 4rem;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.customer-img {
  width: 15%;
  border-radius: 50%;
  margin-right: 2rem;
}

.customer {
  display: flex;
  flex-direction: column;
}

.verified {
  color: hsl(333, 80%, 67%);
}

.testimonial-text {
  font-size: 1.5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width < 144rem) {
  .container {
    background-size: 80%, 80%;
  }
}
